<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatisSample.mapper.MUserMapper">
  <select id="selectAll" resultType="mybatisSample.entity.MUser">
    select * from m_user
  </select>

  <select id="selectByCd" resultType="mybatisSample.entity.MUser">
    select * from m_user where user_cd = #{cd}
  </select>
</mapper>